#countDown {
    color: white;
    font-size: 10vw;
    text-shadow: .2vw .2vw .2vw rgba(11, 51, 110, 0.829);

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;

    opacity: 0;
    filter: drop-shadow(0 0 1vw rgba(134, 230, 209, 0.87));

    transition: .5s;
}

#template {
    display: none;

    position: absolute;
    z-index: 5;
}

#template * {
    opacity: 1;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s;
}


/*  SCOREBOARD  */
#scoreContainer {
    color: white;
    font-size: 2.4vw;
    text-shadow: .1vw .1vw .2vw rgb(50, 70, 241);

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vw;

    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
}

#scoreContainer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#highscore {
    font-size: 1.8vw;
}

#currentScore, #highscore {
    position: relative;
}

#currentScore::after, #highscore::after {
    content: '';

    width: 8vw;
    height: .15vw;

    border-radius: 2vw;
    background: white;

    position: absolute;
    top: 25%;
    left: 0;
}

.scoreFrame1, .scoreFrame2, .scoreFrame3, .scoreFrame4 {
    opacity: 0;
    
    position: relative;
    left: -100%;

    animation: scoreSlideIn 1s;
    animation-fill-mode: forwards;
}

.scoreFrame2 {
    animation-delay: .2s;
}

.scoreFrame3 {
    animation-delay: .4s;
}

.scoreFrame4 {
    animation-delay: .6s;
}

@keyframes scoreSlideIn {
    100% {
        opacity: 1;
        left: 0;
    }
}


/*  MUSIC INFO  */
#gameMusicContainer {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 55%;
    left: 82%;
    transform: translate(-50%, -50%);
}

#gameMusicImgBox {
    width: 15vw;
    height: 8vw;

    margin-top: 5vw;
    margin-bottom: 1vw;
    border: .22vw solid rgba(255, 255, 255, 0.568);
    border-radius: 2vw;

    position: absolute;
    top: -50%;

    opacity: 0;
    filter: drop-shadow(0 0 .5vw rgba(48, 45, 87, 0.527));
    overflow: hidden;

    animation: imgSlideUp 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

@keyframes imgSlideUp {
    60% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}

#gameMusicImg {
    width: 100%;

    filter: brightness(.95);
}

#gameMusicNameBox {
    color: white;
    font-size: 1.8vw;
    text-shadow: .1vw .1vw .2vw rgba(0, 0, 0, 0.603);

    margin-bottom: 10vw;

    position: relative;
    left: 100%;
    
    opacity: 0;

    animation: infoSlideIn 1s;
    animation-fill-mode: forwards;
}

@keyframes infoSlideIn {
    100% {
        opacity: 1;
        left: 0;
    }
}

#gameMusicNameBox h6 {
    color: rgb(223, 223, 223);
    opacity: .8;
}

#gameMusicTimer {
    position: relative;

    opacity: 0;
    
    animation: timerFade 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes timerFade {
    100% {
        opacity: 1;
    }
}

#timerBound {
    width: 18vw;
    height: 2vw;

    position: relative;
    z-index: 1;
}

#timerBound::after {
    content: '';

    width: 100%;
    height: 10%;

    border-radius: 10%;
    background: linear-gradient(90deg, transparent, white, white, white, transparent);

    position: absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: drop-shadow(0 0 .3vw rgba(16, 10, 71, 0.459));
}

#timerThumb {
    color: rgb(79, 226, 226);
    font-size: 2vw;

    position: absolute;
    z-index: 2;

    transform: rotate(180deg);

    filter: drop-shadow(.1vw .1vw .2vw rgba(32, 84, 151, 0.404));
}

#thumbOutline {
    color: rgb(192, 243, 232);

    position: absolute;
    left: 0;
}

#timerClock {    
    width: 50%;

    color: white;
    font-size: 3vw;
    text-shadow: .1vw .1vw .2vw rgba(30, 80, 173, 0.836);

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 420%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: 0;

    animation: clockSlideIn 1.5s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

@keyframes clockSlideIn {
    100% {
        opacity: .9;
        top: 280%;
    }
}


/*  MAIN  */
#boundingBg {
    width: 30%;
    height: 90%;
    
    border-radius: 2vw;
    background: linear-gradient(transparent, rgb(187, 199, 80) 10%, rgb(66, 171, 185) 90%, transparent);

    position: absolute;

    filter: drop-shadow(0 0 .5vw rgba(0, 0, 0, 0.425));
    opacity: 0;

    transition: 1s;
}

#arrowsBoundingBox {
    width: 30%;
    height: 90%;

    border-radius: 2vw;

    position: relative;
    z-index: 2;

    overflow: hidden;

    filter: drop-shadow(.1vw .1vw .1vw rgba(93, 139, 226, 0.493));
}

#arrowThreshold {
    width: 30%;

    color: rgb(49, 49, 49);
    font-size: 5vw;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5%;

    position: absolute;
    top: 70.05%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    opacity: 0;
    filter: drop-shadow(0 .1vw .1vw rgba(0, 0, 0, 0.932));

    transition: 1s;
}

#alertBox h1 {
    font-size: 1.5vw;
    color: rgb(43, 192, 160);
    text-shadow: .1vw .1vw .1vw rgb(250, 141, 183);

    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    filter: drop-shadow(0 0 .2vw white);

    opacity: 0;
    transition: .15s;
    pointer-events: none;
    user-select: none;
}

.arrow {
    font-size: 5vw;

    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
    z-index: 2;

    opacity: 0;

    filter: drop-shadow(0 0 .1vw white);

    animation: arrowFadeIn .8s;
    animation-fill-mode: forwards;
}

@keyframes arrowFadeIn {
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes arrowFadeOut {
    30% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.arrowUp {
    left: 40%;
    color: rgb(73, 110, 212);
}

.arrowLeft {
    left: 20%;
    color: rgb(197, 101, 176);
}

.arrowRight {
    left: 80%;
    color: rgb(57, 167, 93);
}

.arrowDown {
    left: 60%;
    color: rgb(192, 178, 56);
}