#optionsMenuContainer {
    top: 0;
    left: 0;

    display: none;
    justify-content: center;
    align-items: center;

    transition: 1s;
    opacity: 0;
}

#optionsMenuContainer h1 {
    color: white;
    font-size: 3vw;
    text-shadow: .1vw .1vw .2vw rgba(72, 104, 207, 0.733);
    filter: drop-shadow(.1vw .1vw .2vw rgba(16, 65, 66, 0.603));

    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#optionsBox {
    display: grid;
    grid-template-columns: 42.5% 42%;
    gap: 10vw;
    row-gap: 6vw;
}

.optionSlider {
    color: white;
    font-size: 1.2vw;
    text-shadow: .1vw .1vw .2vw rgb(58, 70, 110);
    text-align: center;

    position: relative;
    top: 50%;

    display: none;
    opacity: 0;

    animation: optionSlideIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

@keyframes optionSlideIn {
    0% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.sliderTitle {
    margin-bottom: .5vw;

    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.slider {
    width: 27vw;
    height: 4vw;

    border: .2vw solid rgb(122, 64, 122);
    border-radius: .3vw;

    background: linear-gradient(30deg, rgb(162, 88, 206, .5), rgba(25, 127, 196, 0.5));

    display: flex;
    align-items: center;

    position: relative;

    filter: drop-shadow(0 0 1vw rgba(255, 255, 255, 0.596));
    overflow: hidden;
}

.sliderThumb {
    width: 4%;
    height: 84%;

    border-radius: .2vw;;
    background: linear-gradient(30deg, rgb(66, 153, 179), rgb(100, 204, 164));
    
    position: absolute;
    left: 1%;

    filter: drop-shadow(.1vw .1vw .2vw rgba(59, 21, 77, 0.671));
}